<%= render 'shared/back_button', text: '&larr; Back', path: recipes_path %>

<!-- Container -->
<div class="container mx-auto px-4 py-8 flex flex-col gap-4">
  <!-- Image -->
  <figure class="relative max-w-xl mx-auto">
      <%= image_tag @recipe.image.attached? ? url_for(@recipe.image) : "https://placehold.co/600x400", class: "rounded-lg" %>
      <figcaption class="absolute px-4 text-2xl font-bold text-white bottom-6 text-shadow-lg">
        <%= tag.p @recipe.name %>
      </figcaption>
      <!-- <#%= button_to "#", class: "absolute top-5 right-5 bg-white p-3 rounded-full hover:cursor-pointer" do %>
      #   <#% if !Current.user.user_recipes.pluck(:id).include?(@recipe.id) %>
      #     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#000000" fill="none">
      #         <path d="M11 2C7.22876 2 5.34315 2 4.17157 3.12874C3 4.25748 3 6.07416 3 9.70753V17.9808C3 20.2867 3 21.4396 3.77285 21.8523C5.26947 22.6514 8.0768 19.9852 9.41 19.1824C10.1832 18.7168 10.5698 18.484 11 18.484C11.4302 18.484 11.8168 18.7168 12.59 19.1824C13.9232 19.9852 16.7305 22.6514 18.2272 21.8523C19 21.4396 19 20.2867 19 17.9808V13" stroke="#141B34" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      #         <path d="M17 10L17 2M13 6H21" stroke="#141B34" stroke-width="2" stroke-linecap="round" />
      #     </svg>
      #   <#% else %>
      #   <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
      #     <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
      #   </svg>

      #   <#% end %>
      # <#% end %>
      -->
  </figure>
  <!-- /Image -->
  <!-- Card -->
  <div class="relative min-w-xl mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-4 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Attributes</h5>
    <div class="flex flex-col gap-4">
      <!-- Trait Categories -->
      <% @traits.each do |key, value| %>
        <%= render "trait_line", icon_name: Trait.icon(key.to_sym), trait_name: key.titleize, trait_values: @recipe.traits.select{ |x| x.category == key }.map(&:name).join(", ")  %>
      <% end %>
      <!-- /Trait Categories -->
      <%= link_to edit_recipe_path(@recipe), class: 'absolute top-5 right-5 px-3 py-2 text-xs font-medium text-center inline-flex gap-2 items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3">
          <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" ></path>
        </svg>
        Edit Recipe
      <% end %>
    </div>
    <!-- if Recipe.source.nil? -->
    <% if @recipe.source.nil? %>
      <!-- Add Source Button -->
      <%= render "sources/add" %>
      <!-- /Add Source Button -->
    <% else %>
      <!-- Source View -->
      <turbo-frame id="source" src="/recipes/<%= @recipe.id %>/sources/<%= @recipe.source.id %>"></turbo-frame>
      <!-- /Source View -->
    <% end %>
    <!-- /If Recipe.source.nil? -->
  </div>
  <!-- /Card -->
</div>
<!-- /Container -->
