<%= form_with(model: @shuffle, class:"flex flex-col max-w-4xl mx-auto p-6 mb-12 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700") do |form| %>
  <%= tag.div class: "my-2" do %>
    <%= form.label :meal_ids, 'Meal Types', class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <div class="grid grid-cols-3 gap-4">
      <%= form.collection_checkboxes :meal_ids, Trait.meal.all, :id, :name do |meal_choice| %>
        <div class="flex items-center ps-4 border border-gray-200 rounded-sm dark:border-gray-700 px-4">
          <%= meal_choice.check_box class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
          <%= meal_choice.label class: "w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= tag.div class: "my-2" do %>
    <%= form.label :protein_ids, 'Protein Types', class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <div class="grid grid-cols-3 gap-4">
      <%= form.collection_checkboxes :protein_ids, Trait.protein.all, :id, :name do |protein_choice| %>
        <div class="flex items-center ps-4 border border-gray-200 rounded-sm dark:border-gray-700 px-4">
          <%= protein_choice.check_box class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
          <%= protein_choice.label class: "w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= tag.div class: "my-2" do %>
    <%= form.label :cuisine_ids, 'Cuisine Types', class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <div class="grid grid-cols-3 gap-4">
      <%= form.collection_checkboxes :cuisine_ids, Trait.cuisine.all, :id, :name do |cuisine_choice| %>
        <div class="flex items-center ps-4 border border-gray-200 rounded-sm dark:border-gray-700 px-4">
          <%= cuisine_choice.check_box class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
          <%= cuisine_choice.label class: "w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
